@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --color-primary: #5457b6;
  --color-delete: #ed6468;
  --color-like: #c3c4ef;
  --color-name: #324152;
  --color-background: #eaecf1;
  --color-comment-background: white;
  --color-text: #898b94;
  --color-border: #c3c6d0;
}

body {
  margin: 0;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.all-comments {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
}

.comment__with-replies {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 400px;
  min-height: 100px;
  background-color: var(--color-comment-background);
  border-radius: 5px;
  margin: 10px 0px;
}

.comment .comment__like {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30px;
  height: 70px;
  background-color: var(--color-background);
  margin: 25px auto auto 25px;
  border-radius: 5px;
}

.comment .comment__like-number {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 13px;
}

.comment .comment__content {
  width: 100%;
  min-height: 70px;
  margin: 25px;
}

.comment .comment__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.comment .comment__basic-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 30px;
}

.comment .comment__basic-info-logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment .comment__basic-info-name {
  display: flex;
  min-width: 50px;
  font-weight: 500;
  font-size: 14px;
  margin: 0px 10px;
  color: var(--color-name);
  gap: 8px;
}

.comment .comment__basic-info-time {
  min-width: 50px;
  font-size: 14px;
  color: var(--color-text);
  margin: 0px 5px;
}

.comment .comment__info-reply {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 10px;
}

.comment .comment__info-reply-text {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
}

.comment .comment__text {
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  color: var(--color-text);
  margin: 10px 10px 0px 0px;
  line-height: 20px;
}

.comments__reply-container {
  margin-left: 0;
}

.comments__reply-container-shift {
  margin-left: 80px;
}

.add-comment {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-comment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 400px;
  min-height: 80px;
  background-color: var(--color-comment-background);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 25px;
  gap: 15px;
}

.new-comment .new-comment__logo {
  width: 37px;
  height: 37px;
}

.new-comment .new-comment__text {
  min-height: 80px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--color-border);
  padding: 15px;
  resize: vertical;
  font-family: 'Rubik', sans-serif;
}

.new-comment .new-comment__submit {
  width: 100px;
  height: 35px;
  color: var(--color-background);
  background-color: var(--color-primary);
  border-radius: 5px;
  border: none;
  font-weight: 500;
}

.current-user-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 12px;
  border-radius: 5px;
}
